[submodule "themes/hulga"]
	path = themes/hulga
	url = https://github.com/wlh320/hugo-theme-hulga.git
[submodule "themes/tailwind"]
	path = themes/tailwind
	url = https://github.com/tomowang/hugo-theme-tailwind.git
